@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: 'PT Sans Narrow', sans-serif;
  background: #000;
}

.box {
  position: relative;
}

.innerbox1, .innerbox2, .innerbox3 {
  position: absolute;
  top: 0;
  width: 130px;
  height: 38px;
  transform: translate(-5px, -5px);
  border-radius: 8px;
}

.innerbox1 {
  background: #a770ef;
  box-shadow: 0 0 50px #a770efa5;
  animation: 2s linear infinite;
  animation-delay: 1.5s;
  position: relative;
}

.innerbox2 {
  background: #cf8bf36b;
}